div #educ {
    color: green;
}

address {
    font-size: 1.5em;
}

.dates {
    font-weight: bold;
}

#job1, #job2, #job3, #job4, #job5 {
    font-style: italic;
}

body {
    font:normal normal normal 18/19.8pt Arial, Helvetica, sans-serif;
    }
table, tr, td {
    border:1px solid rgb(89, 0, 255);
}
table {
    width: 100%;
}
p {
    color:black;
}